body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.section-title {
  color: #036;
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
}

.header {
  font-family: "Roboto", sans-serif;
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.header-nav {
  display: flex;
  gap: 48px;
  align-items: center;
}
.header-nav-links {
  display: flex;
  gap: 16px;
}
.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #343434;
  padding: 12px 8px;
}
.header-nav-link:hover {
  color: #036;
  border-bottom: 1px solid #036;
}
.header-nav-button {
  font-size: 20px;
  font-weight: 400;
  padding: 14px 30px;
  border-radius: 14px;
  border: none;
  background-color: #036;
  color: #fff;
}
.header-nav-button:hover {
  background-color: #0d64bc;
}

.hero-section {
  color: #FBFBFB;
  margin: 50px 0;
}
.hero-section .container {
  display: flex;
  gap: 24px;
}
.hero-text {
  padding: 100px 80px;
  background-color: #036;
  border-radius: 20px;
  width: 100%;
}
.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 120%;
  margin: 0;
  max-width: 518px;
}
.hero-subtitle {
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 40px;
}
.hero-btn {
  color: #036;
  font-size: 20px;
  font-weight: 400;
  padding: 14px 20px;
  border-radius: 14px;
  border: none;
  background-color: #FBFBFB;
}
.hero-btn:hover {
  background-color: #0d64bc;
  color: #FBFBFB;
}
.hero-image {
  border-radius: 20px;
}

.advantages-section {
  font-family: "Poppins", sans-serif;
  background-color: #E0E7EF;
  padding: 70px 0;
}
.advantages-section .section-title {
  padding: 30px 50px;
  background-color: #FBFBFB;
  border-radius: 16px;
  margin-bottom: 20px;
}
.advantages-list {
  display: flex;
  gap: 23px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.advantage {
  background-color: #FBFBFB;
  border-radius: 14px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.advantage-name {
  color: #036;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 12px 0;
}
.advantage-description {
  color: #343434;
  font-size: 18px;
  font-weight: 400;
}

.aboutUs-section {
  padding: 50px 0;
}
.aboutUs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutUs-header a {
  color: #343434;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.aboutUs-main {
  display: flex;
  gap: 25px;
}
.aboutUs-info-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 31px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.aboutUs-card {
  background-color: #036;
  border-radius: 14px;
  padding-top: 37px;
  text-align: center;
}
.aboutUs-card:first-child {
  grid-column: 1 / -1;
  text-align: left;
  padding-left: 34px;
}
.aboutUs-card p {
  margin-bottom: 10px;
}

.card-title {
  color: #FBFBFB;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.card-subtitle-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.card-subtitle {
  margin: 0;
  color: #FBFBFB;
  font-size: 18px;
  font-weight: 400;
  max-width: 594px;
}

button,
a {
  text-decoration: none;
  font-size: 20px;
  padding: 14px 30px;
  border-radius: 14px;
  font-weight: 500;
  display: inline-block;
}
button:hover,
a:hover {
  background-color: #0d64bc;
  color: #FBFBFB;
}

.courses-section {
  font-family: "Roboto", sans-serif;
  padding: 50px 0 102px 0;
}

.courses-section .container .section-title {
  margin-bottom: 20px;
}

.courses-section .container .course {
  border: 2px solid #036;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 20px;
}

.courses-section .container .course .course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-section .container .course .course-header .course-name {
  color: #036;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 14px;
}

.courses-section .container .course .course-header a {
  color: #343434;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.courses-section .container .course .course-keys {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 40px 0;
}

.courses-section .container .course .course-keys div {
  color: #343434;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 45px;
  background-color: #EFF3F7;
}

.courses-section .container .course .course-programm h3 {
  color: #036;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.courses-section .container .course .course-programm .course-programm-level {
  color: #343434;
  font-size: 18px;
  margin-bottom: 12px;
}

.courses-section .container .course .course-programm .course-programm-level h4 {
  color: #343434;
  font-weight: 500;
  margin: 0 0 8px 0;
}

.courses-section .container .course .course-price {
  color: #036;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 24px 0 40px;
}

.courses-section .container .course .course-price p {
  padding-left: 16px;
  margin: 0;
}

.course-btn {
  background-color: #036;
  color: #fff;
  font-size: 20px;
  padding: 18px 40px;
  border-radius: 14px;
  text-decoration: none;
}

.course-btn:hover {
  background-color: #0d64bc;
}

.join-btn {
  color: #FBFBFB;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  padding: 14px 85px;
  background-color: #036;
  border-radius: 14px;
  border: none;
}

.join-btn:hover {
  background-color: #0d64bc;
}

.appointment-section {
  padding: 50px 0;
  background-color: #036;
  font-family: "Poppins", sans-serif;
}

.appointment-section .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 84px;
  align-items: center;
}

.appointment-info-title {
  color: #FBFBFB;
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.appointment-info-subtitle {
  color: #FBFBFB;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}

.appointment-btn {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  color: #036;
  padding: 14px 30px;
  border-radius: 14px;
  border: none;
  background-color: #FBFBFB;
}

.appointment-btn:hover {
  background-color: #0d64bc;
  color: #FBFBFB;
}
.appointment-section .container .appointment-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.appointment-section .container .appointment-form input {
  padding: 24px 14px;
  width: 100%;
  border: none;
  border-radius: 4px;
}
.appointment-section .container .appointment-form input::placeholder {
  color: #343434;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.appointment-section .container .appointment-form button {
  color: #036;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  padding: 14px 30px;
  border-radius: 14px;
  background-color: #FBFBFB;
  width: fit-content;
  border: none;
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.appointment-section .container .appointment-form button:hover {
  background-color: #0d64bc;
  color: #FBFBFB;
}

.testimonials-section {
  font-family: "Roboto", sans-serif;
  color: #343434;
  line-height: 150%;
  padding-top: 50px;
  padding-bottom: 47px;
}
.testimonials-section .container {
  overflow: hidden;
}
.testimonials-section .container .section-title {
  margin-bottom: 40px;
}
.testimonials-section .container .testimonials-wrapper {
  display: flex;
  gap: 24px;
  transition: transform 0.5s ease;
  width: 100%;
}
.testimonials-section .container .testimonials-wrapper .testimonial {
  padding: 20px 80px 20px 20px;
  border-radius: 12px;
  border: 1px solid #036;
  display: flex;
  gap: 20px;
  flex: 0 0 49%;
  box-sizing: border-box;
}
.testimonials-section .container .testimonials-wrapper .testimonial .testimonial-info .info-name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.testimonials-section .container .testimonials-wrapper .testimonial .testimonial-info .info-role {
  color: #6B6B6B;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}
.testimonials-section .container .testimonials-wrapper .testimonial .testimonial-info .info-rating {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}
.testimonials-section .container .testimonials-wrapper .testimonial .testimonial-info .info-description {
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.testimonials-section .container .testimonials-nav {
  display: flex;
  padding: 12px 14px;
  border-radius: 100px;
  border: 1px solid #BFCCD8;
  width: fit-content;
  gap: 30px;
  margin: 50px auto 0 auto;
  align-items: center;
}
.testimonials-section .container .testimonials-nav .prev-btn {
  background-color: transparent;
  border: none;
  height: 32px;
}
.testimonials-section .container .testimonials-nav .lines {
  display: flex;
  gap: 2px;
}
.testimonials-section .container .testimonials-nav .next-btn {
  background-color: transparent;
  border: none;
  height: 32px;
}
.testimonials-section .container .testimonials-nav .prev-btn,
.testimonials-section .container .testimonials-nav .next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-section {
  font-family: "Roboto", sans-serif;
  color: #343434;
  line-height: 150%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.faq-section .container .section-title {
  margin-bottom: 40px;
}
.faq-section .container .faq-section-wrapper {
  display: flex;
  gap: 24px;
}
.faq-section .container .faq-section-wrapper .questions-list {
  width: 722px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq-section .container .faq-section-wrapper .questions-list .question-item {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #036;
}
.faq-section .container .faq-section-wrapper .questions-list .question-item:first-child {
  height: 209px;
}
.faq-section .container .faq-section-wrapper .questions-list .question-item:not(:first-child) {
  height: 58px;
}
.faq-section .container .faq-section-wrapper .questions-list .question-item .question-item-q {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-section .container .faq-section-wrapper .questions-list .question-item .question-item-q .toggle-minus {
  display: none;
}
.faq-section .container .faq-section-wrapper .questions-list .question-item .question-item-a {
  display: none;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-top: 30px;
  border-top: 1px solid #036;
}
.question-form {
  height: 521px;
}
.faq-section .container .faq-section-wrapper .question-form {
  height: 531px;
  padding: 40px;
  border-radius: 14px;
  background-color: #036;
  display: flex;
  flex-direction: column;
  width: 544px;
  text-align: center;
}
.faq-section .container .faq-section-wrapper .question-form h2 {
  color: #FBFBFB;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #FBFBFB;
  margin-bottom: 40px;
}
textarea {
  height: 114px;
}
.faq-section .container .faq-section-wrapper .question-form input,
.faq-section .container .faq-section-wrapper .question-form textarea {
  padding: 24px 14px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
}
.faq-section .container .faq-section-wrapper .question-form input::placeholder,
.faq-section .container .faq-section-wrapper .question-form textarea::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #343434;
}
.faq-section .container .faq-section-wrapper .question-form .form-btn {
  color: #036;
  font-size: 20px;
  font-weight: 400;
  padding: 14px 30px;
  border-radius: 14px;
  background-color: #FBFBFB;
  border: none;
  width: fit-content;
  margin: 20px auto 0 auto;
}
.faq-section .container .faq-section-wrapper .question-form .form-btn:hover {
  background-color: #0d64bc;
}

.footer {
  padding: 32px 0;
  font-family: "Roboto", sans-serif;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  color: #036;
  font-size: 16px;
}
.footer-nav {
  display: flex;
  gap: 16px;
}
.footer-nav a {
  color: #343434;
  font-size: 16px;
  font-weight: 500;
}
